#contact_modal {
  display: none;
}

.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  flex-direction: column;
  margin-top: 6vw;
  gap: 4vw;
}
.userProfile-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #FAFAFA;
  padding: 1rem;
  border-radius: 5px;
}
.userProfile-header .profile-imageContainer {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  order: 1;
}
.userProfile-header .profile-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  order: 2;
}
.userProfile-header .profile-contact {
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 11px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  order: 3;
}
.userProfile-header .profile-name {
  color: #DB8876;
  font-size: 32px;
  text-align: center;
  margin: 0.25rem 0;
  font-weight: 400;
}
.userProfile-header .profile-location {
  color: #901C1C;
  font-size: 16px;
  margin: 0.25rem 0;
  margin-bottom: 1rem;
}
.userProfile-header .profile-image, .userProfile-header .lightbox-image {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
  transform: scale(1.3);
}
.userProfile-main {
  max-width: 1240px;
  width: 100%;
}
.userProfile-main .userProfile-wrapper {
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  height: 100%;
  width: 100%;
  align-items: center;
}
.userProfile-main .userProfile-wrapper .userProfile-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  max-width: 350px;
  margin: auto;
}
.userProfile-main .userProfile-wrapper .userProfile-media-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.userProfile-main .userProfile-wrapper .userProfile-media-likes {
  display: flex;
  align-items: center;
  color: #901C1C;
  font-weight: 500;
  font-size: 24px;
}
.userProfile-main .userProfile-wrapper .userProfile-media-likes i {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.userProfile-main .userProfile-wrapper .userProfile-media-title {
  color: #901C1C;
  font-size: 24px;
  font-weight: 400;
}
.userProfile-main .userProfile-wrapper .userProfile-media-image {
  margin: auto;
  height: 100%;
  max-height: 300px;
  width: 100%;
  max-width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.lightbox-background {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightbox-container {
  position: relative;
  width: 100%;
  height: 100vw;
  max-width: 1050px;
  max-height: 900px;
  z-index: 710;
  padding: 1rem;
  margin: 0 3rem;
}
.lightbox-container .lightbox-prev {
  position: absolute;
  top: 50%;
  left: -2.5rem;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 4em;
  color: #901C1C;
}
.lightbox-container .lightbox-next {
  position: absolute;
  top: 50%;
  right: -2.5rem;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 4em;
  color: #901C1C;
}
.lightbox-container .lightbox-close {
  position: absolute;
  top: 2.5rem;
  right: -2.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.lightbox-container .lightbox-close .fa-xmark {
  font-size: 2.4em;
  color: #901C1C;
}
.lightbox-container-title {
  color: #901C1C;
  font-size: 24px;
  font-weight: 400;
}
.lightbox-container .profile-image, .lightbox-container .lightbox-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

@media (min-width: 768px) {
  header {
    max-width: 1240px;
  }
  header a img {
    width: 200px;
  }
  .userProfile {
    max-width: 1240px;
  }
  .userProfile-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .userProfile-header .profile-info {
    text-align: start;
    order: 1;
  }
  .userProfile-header .profile-imageContainer {
    height: 200px;
    width: 200px;
    order: 3;
  }
  .userProfile-header .profile-contact {
    font-size: 20px;
    width: 170px;
    height: 70px;
    order: 2;
  }
  .userProfile-header .profile-name {
    font-size: 64px;
  }
  .userProfile-header profile-location {
    font-size: 20px;
  }
  .userProfile-header .profile-image, .userProfile-header.lightbox-image {
    height: 200px;
    width: 200px;
    transform: scale(1.3);
  }
}
* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  max-width: 1260px;
  margin: auto;
  padding: 0 20px;
}
header a img {
  width: 100px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}

.log {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section .userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 300px;
}
.photographer_section .userCard .userCard-imgLink {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.photographer_section .userCard a {
  text-decoration: none;
}
.photographer_section .userCard-img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
  transform: scale(1.3);
}
.photographer_section .userCard-name {
  color: #D3573C;
  font-size: 36px;
  text-align: center;
  margin: 0.25rem 0;
}
.photographer_section .userCard-city {
  color: #901C1C;
  font-size: 20px;
  margin: 0.25rem 0;
}
.photographer_section .userCard-tagline {
  color: #000000;
  font-size: 16px;
  text-align: center;
}
.photographer_section .userCard-price {
  color: #757575;
  font-size: 14px;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article h2 {
  color: #D3573C;
  font-size: 36px;
}
.photographer_section article img {
  height: 200px;
  width: 200px;
}/*# sourceMappingURL=style.css.map */